/*
Stripy Horse API

Zebra/ZPL developer tools: render ZPL to PNG, convert PDFs and images to print-ready ZPL, and drive hosted virtual Zebra printers for testing. Authenticate with an API key via `Authorization: Bearer sh_live_…` or `X-Api-Key`.

API version: 1.0.0
Contact: ben@stripyhorse.io
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package stripyhorse

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"os"
)


// ConvertAPIService ConvertAPI service
type ConvertAPIService service

type ApiConvertBatchRequest struct {
	ctx context.Context
	ApiService *ConvertAPIService
	files []*os.File
	barcodeAware *bool
	compression *string
	dpmm *int64
	heightMm *float64
	preset *string
	rotation *int64
	scale *string
	threshold *int64
	widthMm *float64
}

func (r ApiConvertBatchRequest) Files(files []*os.File) ApiConvertBatchRequest {
	r.files = files
	return r
}

func (r ApiConvertBatchRequest) BarcodeAware(barcodeAware bool) ApiConvertBatchRequest {
	r.barcodeAware = &barcodeAware
	return r
}

func (r ApiConvertBatchRequest) Compression(compression string) ApiConvertBatchRequest {
	r.compression = &compression
	return r
}

func (r ApiConvertBatchRequest) Dpmm(dpmm int64) ApiConvertBatchRequest {
	r.dpmm = &dpmm
	return r
}

func (r ApiConvertBatchRequest) HeightMm(heightMm float64) ApiConvertBatchRequest {
	r.heightMm = &heightMm
	return r
}

func (r ApiConvertBatchRequest) Preset(preset string) ApiConvertBatchRequest {
	r.preset = &preset
	return r
}

func (r ApiConvertBatchRequest) Rotation(rotation int64) ApiConvertBatchRequest {
	r.rotation = &rotation
	return r
}

func (r ApiConvertBatchRequest) Scale(scale string) ApiConvertBatchRequest {
	r.scale = &scale
	return r
}

func (r ApiConvertBatchRequest) Threshold(threshold int64) ApiConvertBatchRequest {
	r.threshold = &threshold
	return r
}

func (r ApiConvertBatchRequest) WidthMm(widthMm float64) ApiConvertBatchRequest {
	r.widthMm = &widthMm
	return r
}

func (r ApiConvertBatchRequest) Execute() (*http.Response, error) {
	return r.ApiService.ConvertBatchExecute(r)
}

/*
ConvertBatch Convert many documents in one request, results streamed

Upload up to 20 PDFs/images as repeated `files` fields. The response is application/x-ndjson: one JSON object per converted page, streamed as each page finishes: `{"file":…,"page":…,"pageCount":…,"zpl":…}` on success, `{"file":…,"error":…}` per failed file (remaining files still convert).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiConvertBatchRequest
*/
func (a *ConvertAPIService) ConvertBatch(ctx context.Context) ApiConvertBatchRequest {
	return ApiConvertBatchRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *ConvertAPIService) ConvertBatchExecute(r ApiConvertBatchRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConvertAPIService.ConvertBatch")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/convert/batch"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.files == nil {
		return nil, reportError("files is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.barcodeAware != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "barcodeAware", r.barcodeAware, "form", "")
	}
	if r.compression != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "compression", r.compression, "form", "")
	}
	if r.dpmm != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "dpmm", r.dpmm, "form", "")
	}
	var filesLocalVarFormFileName string
	var filesLocalVarFileName     string
	var filesLocalVarFileBytes    []byte

	filesLocalVarFormFileName = "files"
	filesLocalVarFile := r.files

	if filesLocalVarFile != nil {
		// loop through the array to prepare multiple files upload
		for _, filesLocalVarFileValue := range filesLocalVarFile {
			fbs, _ := io.ReadAll(filesLocalVarFileValue)

			filesLocalVarFileBytes = fbs
			filesLocalVarFileName = filesLocalVarFileValue.Name()
			filesLocalVarFileValue.Close()
			formFiles = append(formFiles, formFile{fileBytes: filesLocalVarFileBytes, fileName: filesLocalVarFileName, formFileName: filesLocalVarFormFileName})
		}
	}
	if r.heightMm != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "heightMm", r.heightMm, "form", "")
	}
	if r.preset != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "preset", r.preset, "form", "")
	}
	if r.rotation != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "rotation", r.rotation, "form", "")
	}
	if r.scale != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "scale", r.scale, "form", "")
	}
	if r.threshold != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "threshold", r.threshold, "form", "")
	}
	if r.widthMm != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "widthMm", r.widthMm, "form", "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["headerKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v ErrorModel
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiConvertDocumentRequest struct {
	ctx context.Context
	ApiService *ConvertAPIService
	file *os.File
	barcodeAware *bool
	compression *string
	dpmm *int64
	heightMm *float64
	preset *string
	rotation *int64
	scale *string
	threshold *int64
	widthMm *float64
}

// PDF, PNG, GIF or JPEG
func (r ApiConvertDocumentRequest) File(file *os.File) ApiConvertDocumentRequest {
	r.file = file
	return r
}

// EXPERIMENTAL: re-emit decodable barcodes as native ^BC/^BQ fields, verified by a decode round trip with automatic fallback to plain rasterization
func (r ApiConvertDocumentRequest) BarcodeAware(barcodeAware bool) ApiConvertDocumentRequest {
	r.barcodeAware = &barcodeAware
	return r
}

// acs (default) or z64 (zlib+base64, smaller payloads)
func (r ApiConvertDocumentRequest) Compression(compression string) ApiConvertDocumentRequest {
	r.compression = &compression
	return r
}

func (r ApiConvertDocumentRequest) Dpmm(dpmm int64) ApiConvertDocumentRequest {
	r.dpmm = &dpmm
	return r
}

func (r ApiConvertDocumentRequest) HeightMm(heightMm float64) ApiConvertDocumentRequest {
	r.heightMm = &heightMm
	return r
}

func (r ApiConvertDocumentRequest) Preset(preset string) ApiConvertDocumentRequest {
	r.preset = &preset
	return r
}

func (r ApiConvertDocumentRequest) Rotation(rotation int64) ApiConvertDocumentRequest {
	r.rotation = &rotation
	return r
}

// cover (fit), fill (stretch) or none
func (r ApiConvertDocumentRequest) Scale(scale string) ApiConvertDocumentRequest {
	r.scale = &scale
	return r
}

func (r ApiConvertDocumentRequest) Threshold(threshold int64) ApiConvertDocumentRequest {
	r.threshold = &threshold
	return r
}

func (r ApiConvertDocumentRequest) WidthMm(widthMm float64) ApiConvertDocumentRequest {
	r.widthMm = &widthMm
	return r
}

func (r ApiConvertDocumentRequest) Execute() (*ConvertOutputBody, *http.Response, error) {
	return r.ApiService.ConvertDocumentExecute(r)
}

/*
ConvertDocument Convert a PDF or image to ZPL

Each page becomes its own ^GFA command (Zebra ACS run-length compression). PDFs up to 16 pages.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiConvertDocumentRequest
*/
func (a *ConvertAPIService) ConvertDocument(ctx context.Context) ApiConvertDocumentRequest {
	return ApiConvertDocumentRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ConvertOutputBody
func (a *ConvertAPIService) ConvertDocumentExecute(r ApiConvertDocumentRequest) (*ConvertOutputBody, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ConvertOutputBody
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConvertAPIService.ConvertDocument")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/convert"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.file == nil {
		return localVarReturnValue, nil, reportError("file is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.barcodeAware != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "barcodeAware", r.barcodeAware, "form", "")
	}
	if r.compression != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "compression", r.compression, "form", "")
	}
	if r.dpmm != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "dpmm", r.dpmm, "form", "")
	}
	var fileLocalVarFormFileName string
	var fileLocalVarFileName     string
	var fileLocalVarFileBytes    []byte

	fileLocalVarFormFileName = "file"
	fileLocalVarFile := r.file

	if fileLocalVarFile != nil {
		fbs, _ := io.ReadAll(fileLocalVarFile)

		fileLocalVarFileBytes = fbs
		fileLocalVarFileName = fileLocalVarFile.Name()
		fileLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: fileLocalVarFileBytes, fileName: fileLocalVarFileName, formFileName: fileLocalVarFormFileName})
	}
	if r.heightMm != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "heightMm", r.heightMm, "form", "")
	}
	if r.preset != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "preset", r.preset, "form", "")
	}
	if r.rotation != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "rotation", r.rotation, "form", "")
	}
	if r.scale != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "scale", r.scale, "form", "")
	}
	if r.threshold != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "threshold", r.threshold, "form", "")
	}
	if r.widthMm != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "widthMm", r.widthMm, "form", "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["headerKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v ErrorModel
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiConvertHtmlRequest struct {
	ctx context.Context
	ApiService *ConvertAPIService
	htmlInputBody *HtmlInputBody
}

func (r ApiConvertHtmlRequest) HtmlInputBody(htmlInputBody HtmlInputBody) ApiConvertHtmlRequest {
	r.htmlInputBody = &htmlInputBody
	return r
}

func (r ApiConvertHtmlRequest) Execute() (*HtmlOutputBody, *http.Response, error) {
	return r.ApiService.ConvertHtmlExecute(r)
}

/*
ConvertHtml Convert an HTML label design to ZPL

Renders the HTML at exact print resolution (headless Chrome, network access blocked) and rasterizes it, except `<zpl-barcode type="code128|qr" data="…">` elements, which are measured from the layout and emitted as native ^BC/^BQ fields at their exact boxes. Size and position them with CSS (`left/top/width/height`); optional `module` (^BY dots) and `mag` (QR magnification) attributes pin exact bar geometry instead of fitting it to the box. Unsupported types or unencodable data fail loudly.

**PHP** (`composer require stripyhorse/stripyhorse-php`):
```php
$out = $convert->convertHtml(new StripyHorse\Model\HtmlInputBody([
    'html' => '<div style="position:absolute;left:40px;top:40px;font-size:50px">Hello</div>',
    'preset' => '4x6',
]));
echo $out->getZpl();
```

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiConvertHtmlRequest
*/
func (a *ConvertAPIService) ConvertHtml(ctx context.Context) ApiConvertHtmlRequest {
	return ApiConvertHtmlRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return HtmlOutputBody
func (a *ConvertAPIService) ConvertHtmlExecute(r ApiConvertHtmlRequest) (*HtmlOutputBody, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *HtmlOutputBody
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConvertAPIService.ConvertHtml")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/convert/html"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.htmlInputBody == nil {
		return localVarReturnValue, nil, reportError("htmlInputBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.htmlInputBody
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["headerKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v ErrorModel
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiConvertZplToHtmlRequest struct {
	ctx context.Context
	ApiService *ConvertAPIService
	zplHTMLInputBody *ZplHTMLInputBody
}

func (r ApiConvertZplToHtmlRequest) ZplHTMLInputBody(zplHTMLInputBody ZplHTMLInputBody) ApiConvertZplToHtmlRequest {
	r.zplHTMLInputBody = &zplHTMLInputBody
	return r
}

func (r ApiConvertZplToHtmlRequest) Execute() (*ZplHTMLOutputBody, *http.Response, error) {
	return r.ApiService.ConvertZplToHtmlExecute(r)
}

/*
ConvertZplToHtml Decompile ZPL into editable HTML

The migration path for legacy ZPL templates: text, boxes and Code128/QR barcodes become editable HTML in the dialect convertHtml accepts; unsupported elements (raster graphics, exotic barcodes) are embedded as positioned images so the layout survives. Round-tripping through convertHtml preserves scannable barcodes.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiConvertZplToHtmlRequest
*/
func (a *ConvertAPIService) ConvertZplToHtml(ctx context.Context) ApiConvertZplToHtmlRequest {
	return ApiConvertZplToHtmlRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ZplHTMLOutputBody
func (a *ConvertAPIService) ConvertZplToHtmlExecute(r ApiConvertZplToHtmlRequest) (*ZplHTMLOutputBody, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ZplHTMLOutputBody
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConvertAPIService.ConvertZplToHtml")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/convert/zpl-html"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.zplHTMLInputBody == nil {
		return localVarReturnValue, nil, reportError("zplHTMLInputBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.zplHTMLInputBody
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["headerKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v ErrorModel
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRasterizeUnicodeRequest struct {
	ctx context.Context
	ApiService *ConvertAPIService
	unicodeInputBody *UnicodeInputBody
}

func (r ApiRasterizeUnicodeRequest) UnicodeInputBody(unicodeInputBody UnicodeInputBody) ApiRasterizeUnicodeRequest {
	r.unicodeInputBody = &unicodeInputBody
	return r
}

func (r ApiRasterizeUnicodeRequest) Execute() (*UnicodeOutputBody, *http.Response, error) {
	return r.ApiService.RasterizeUnicodeExecute(r)
}

/*
RasterizeUnicode Make Unicode ZPL printable on any Zebra

Text fields containing characters the printer's fonts can't render (Arabic with contextual joining and RTL, Cyrillic, and everything else beyond ASCII) are shaped properly and re-emitted as ^GFA bitmaps at the field's exact position and size. Every other byte (barcodes, ASCII text, graphics) passes through untouched. Fields that can't be converted safely (rotated, ^FH-escaped) are left unchanged and reported in `skipped`.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRasterizeUnicodeRequest
*/
func (a *ConvertAPIService) RasterizeUnicode(ctx context.Context) ApiRasterizeUnicodeRequest {
	return ApiRasterizeUnicodeRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return UnicodeOutputBody
func (a *ConvertAPIService) RasterizeUnicodeExecute(r ApiRasterizeUnicodeRequest) (*UnicodeOutputBody, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UnicodeOutputBody
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConvertAPIService.RasterizeUnicode")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/unicode"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unicodeInputBody == nil {
		return localVarReturnValue, nil, reportError("unicodeInputBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.unicodeInputBody
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["headerKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v ErrorModel
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiStampZplRequest struct {
	ctx context.Context
	ApiService *ConvertAPIService
	stampInputBody *StampInputBody
}

func (r ApiStampZplRequest) StampInputBody(stampInputBody StampInputBody) ApiStampZplRequest {
	r.stampInputBody = &stampInputBody
	return r
}

func (r ApiStampZplRequest) Execute() (*StampOutputBody, *http.Response, error) {
	return r.ApiService.StampZplExecute(r)
}

/*
StampZpl Stamp an image onto ZPL labels

Bakes a PNG/GIF/JPEG (a logo, a QA stamp, a brand mark) onto every label in the stream as a positioned graphic field drawn over the existing content. Position and width are in printer dots; height follows the image's aspect ratio.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiStampZplRequest
*/
func (a *ConvertAPIService) StampZpl(ctx context.Context) ApiStampZplRequest {
	return ApiStampZplRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return StampOutputBody
func (a *ConvertAPIService) StampZplExecute(r ApiStampZplRequest) (*StampOutputBody, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *StampOutputBody
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConvertAPIService.StampZpl")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/stamp"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.stampInputBody == nil {
		return localVarReturnValue, nil, reportError("stampInputBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.stampInputBody
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["headerKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v ErrorModel
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiVoidZplRequest struct {
	ctx context.Context
	ApiService *ConvertAPIService
	voidInputBody *VoidInputBody
}

func (r ApiVoidZplRequest) VoidInputBody(voidInputBody VoidInputBody) ApiVoidZplRequest {
	r.voidInputBody = &voidInputBody
	return r
}

func (r ApiVoidZplRequest) Execute() (*VoidOutputBody, *http.Response, error) {
	return r.ApiService.VoidZplExecute(r)
}

/*
VoidZpl Stamp ZPL as void / do-not-ship

Overlays a large diagonal VOID - DO NOT MAIL warning (and an optional attribution stamp) across every label in the stream, so printed dev and test labels can never be mistaken for shippable ones. Original fields are untouched; stamps draw on top.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiVoidZplRequest
*/
func (a *ConvertAPIService) VoidZpl(ctx context.Context) ApiVoidZplRequest {
	return ApiVoidZplRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return VoidOutputBody
func (a *ConvertAPIService) VoidZplExecute(r ApiVoidZplRequest) (*VoidOutputBody, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *VoidOutputBody
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConvertAPIService.VoidZpl")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/void"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.voidInputBody == nil {
		return localVarReturnValue, nil, reportError("voidInputBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.voidInputBody
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["headerKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v ErrorModel
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
